/*.message-list-container::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: #aaa;
  border-radius: 8px;
}

.message-list-container::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: transparent;
}

.message-list-container::-webkit-scrollbar-thumb:hover {
  background-color: #7c7c7c;
}
*/

.ai-response p:first-of-type {
  display: inline;
}

.ai-response-loading > :last-child::after {
  -webkit-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
  /*  content: "▋";*/
  content: "▍";
  margin-left: 0.25rem;
  vertical-align: baseline;
}

.mentions__input::placeholder {
  font-size: 12px !important;
  color: rgb(156 163 175);
  padding-top: 1px;
}
