@media (min-width: 768px) {
  .c-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  body {
    scrollbar-width: thin; /* Firefox */
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; /* IE 10+ */
  }

  *::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: transparent;
  }
  *::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: transparent;
  }
  *::-webkit-scrollbar:hover {
    border: solid 1px #e5e7eb;
  }
  *::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  *::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }

  .on-scrollbar {
    scrollbar-color: #aaa transparent !important; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  .on-scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: transparent;
  }
  .on-scrollbar::-webkit-scrollbar:active {
    width: 10px;
    border: solid 1px #e5e7eb;
  }
  .on-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: transparent;
  }
  .on-scrollbar::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: #aaa;
    border-radius: 8px;
  }
  .on-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #7c7c7c;
  }
}
