.mentions__suggestions {
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%), 0 9px 20px 8px rgb(0 0 0 / 5%);
}

.mentions__suggestions__list {
  background-color: white;
  font-size: 10pt;
  color: rgba(0, 0, 0, 0.88);
}

.mentions__suggestions__item {
  padding: 5px 15px;
}

.mentions__suggestions__item--focused {
  background-color: rgba(0, 0, 0, 0.04);
}
